body {
    margin: 0 auto;
}

.header-title {
    text-align: center;

}

.header-title h1 {
    font-size: 40px;
    color: rgb(110, 10, 218);
}

.first-section {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin-top: 50px;
}

.first-half-width {
    width: 45%;

}

.section-title {
    border-left: 3px solid;
    border-image: linear-gradient(blue, pink);
    border-image-slice: 1;
}

.section-title h1 {
    font-size: 38px;
    line-height: 30px;
    padding-left: 15px;

}

span {
    color: rgb(110, 10, 218);
}

.first-section-p p {
    color: rgb(91, 86, 86);
    font-size: 18px;
    margin-top: 55px;
}

.first-section-a {
    margin-top: 45px;
}

.first-section-a a {
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(blue, pink);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 900;
}

.first-half-width img {
    width: 100%;
}

.second-section {
    margin: 0 42px;
}

.second-section-title {
    text-align: center;
    margin-top: 50px;
}

.second-section-title h1 {
    font-size: 30px;
}

.second-section-card {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 80px 0;
}

#card-1-bg {
    background-color: rgba(18, 98, 202, 0.1);
}

#card-2-bg {
    background-color: rgba(2, 23, 255, 0.1);
}

#card-3-bg {
    background-color: rgba(213, 2, 255, 0.1);
}

.second-section-card img {
    height: 35%;
    width: 35%;
}

.second-section-card-divied {
    width: 29%;
    border-radius: 20px;
    padding: 15px;
}

.second-section-card-divied h4 {
    color: rgb(18, 18, 110);
    font-size: 20px;
    font-weight: 600;
}

.second-section-card-divied p {
    color: rgb(104, 116, 126);
}

.second-section-ancor a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(39, 39, 177);
    padding: 5px 10px;
    border-radius: 5px;

}

.thard-section {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

.thard-section-devied {
    display: flex;

}

#thard-section-bg {}

.thard-section-half {
    width: 80%;

}

.thard-section-half img {
    height: 80%;
    width: 80%;

}

.thard-section-half h1 {
    color: black;
    font-size: 40px;
    font-weight: 700;
    line-height: 20px;
}

.thard-section-half p {
    color: rgb(91, 86, 86);
    font-size: 18px;
}

.thard-section-ancor {
    margin-top: 55px;
}

.thard-section-ancor a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(39, 39, 177);
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
}

#forth-section-bg {
    margin-top: 30px;
    padding-left: 150px;
}

#fifth {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 10px;
}

#fifth-end {
    margin-top: 130px;
}

.footer-section-area {
    background-color: rgba(2, 23, 255, 0.1);
    text-align: center;
    padding: 10px;
}